*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*283048
859398*/

$gore:#141E30;
$dole: #243B55;

@mixin input{
    background-color: rgba(20, 30, 48, 0.5);
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-family: 'Kurale', serif;
}
@mixin flexb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin gradient {
    background-image: linear-gradient($gore, $dole);
}
@mixin a {
    text-decoration: none;
    color: #fff;
}
html{ 
    scroll-behavior: smooth;
}
body{
    font-family: 'Kurale', serif;
    @include gradient;
    color: #fff;
    line-height: 2;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 24px;
}
nav{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px; 
    border-bottom: 1px solid #fff;
    ul{
        width: 80%;
        margin: 0px auto;
        @include flexa;
        li{
            list-style-type: none;
            padding: 10px;
            a{
                @include a;
                padding: 10px;
                font-size: 20px;
            }
        }
    }
}
.pozadina{
    width: 300px;
    height: 600px;
    background-image: url("img/dd.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.desno{
    transform: scaleX(-1);
    position: relative;
    animation-name: animacija;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.levo{
    position: relative;
    animation-name: animacija2;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes animacija2 {
    0%   {left: -100%; top:0px;}
    50%  {right:50%;}
  100% {right:0px; top:0px;}
}

@keyframes animacija {
    0%   {right: -100%; top:0px;}
    50%  {left:50%;}
  100% {left:0px; top:0px;}
}
#pocetna{
    @include flexb;
    padding-top: 30px;
    overflow: hidden;
    #naslov{
        position: relative;
        animation: fadein;
        animation-duration: 15s;
        text-align: center;
    }
    #sredina{
        height: 100%;
        display: none;
        img{
            width: 100%;
        }
    }
    #strelica{
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 99;
        display: none;
            i{
                font-size: 50px;
            }
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
.drzac{
    margin: 0px auto;
    width: 100%;
    @include flexa;
}
#projekti{
    text-align: center;
    padding-top: 60px;
    .sajt{
        background-image: url("img/recepti.png");
        
    }
    .tekst a{
        @include a;
        font-size: 24px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.sajt{
    width: 450px;
    height: 450px;
    margin: 20px;
    background-size: cover;
    clip-path: polygon(50% 100%, 100% 35%, 80% 0, 20% 0, 0 35%);
}
#obrazovanje{
    text-align: center;
    padding-top: 60px;
    #sadrzaj{
        margin: 0px auto;
        width: 100%;
        @include flexb;
        .tekst{
            width: 45%;
            text-align: center;
            h2{
                margin-top: 15px;
            }
        }
        .levo,.desno{
            animation: none;
        }
    }
}
#vestine{
    text-align: center;
    padding-top: 60px;
    #okvir{
        @include flexc;
        padding: 10px;
        .dijamant{
            width: 20%;
            height: 300px;
            clip-path: polygon(50% 100%, 100% 35%, 80% 0, 20% 0, 0 35%);
            margin: 20px;
            @include gradient;
            p{
                font-size: 30px;
                margin-top: 100px;
                line-height: normal;
            }
        }
    }
}
#oMeni{
    text-align: center;
    padding-top: 60px;
    .drzac{
        .sajt{
            background-image: url("img/ja.jpg");
            background-position: top center;
        }
    }
}
#kontakt{
    margin-top: 60px;
    text-align: center;
    padding: 100px 10px;
    h1{
        margin: 10px;
    }
    input{
        width: 35%;
        height: 30px;
        margin: 5px;
        @include input;
        padding: 2px;
    }
    textarea{
        width: 71%;
        height: 100px;
        margin: 10px;
        resize: vertical;
        @include input;
        padding: 2px;
    }
}
input::placeholder, textarea::placeholder{
    color: #fff;
}
footer{
    @include flexc;
    flex-wrap: wrap;
    border-top: 1px solid #fff;
    padding: 15px;
    a{
        margin:10px;
        i{
            color: #fff;
            font-size: 35px;
        }
    }
}
